//
// Isotope Grids
// --------------------------------------------------

.grid {
	position: relative;
	padding-bottom: 35px;

	// Gap width
	.gutter-sizer {
		width: 2.5%;
		@media #{$tablet-port} { width: 4%; }
	}

	// Items
	.grid-item {
		position: relative;
		float: left;
		margin-bottom: 2.5%;
	  @include backface-visibility(hidden);
		@media #{$tablet-port} { margin-bottom: 4%; }
		.portfolio-tile,
		.blog-tile { margin-bottom: 0; }
	}

	// Default Isotope Grid
	&.isotope-grid {
		overflow: hidden;
		@include clearfix;

		// 1 Column
		&.col-1 {
			.grid-sizer,
			.grid-item {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}
		}

		// 2 Columns
		&.col-2 {
			.grid-sizer,
			.grid-item {
				width: 48.75%;
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}

		// 3 Columns
		&.col-3 {
			.grid-sizer,
			.grid-item {
				width: ( 100% - 5% ) / 3; // where 5% is double gutter width
				@media #{$tablet-land} { width: 48.75%; }
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}

		// 4 Columns
		&.col-4 {
			.grid-sizer,
			.grid-item {
				width: ( 100% - 7.5% ) / 4; // where 7.5% is tripple gutter width
				@media #{$tablet-land} { width: 48.75%; }
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
	}

	//Masonry Grid
	&.isotope-masonry-grid {
		overflow: hidden;
		@include clearfix;

	// Gutter
	.gutter-sizer { width: 0.7%; }

		// Item
		.grid-sizer,
		.grid-item {
			width: ( 100% - 2.1% ) / 4;
			height: 247px;
			margin-bottom: 6px;

			.portfolio-tile,
			.gallery-tile {
				position: absolute;
				height: 100%;
			}

			// Double height
			&.double-h { height: 500px; }
			// Double width
			&.double-w { width: (( 100% - 0.7% ) / 4) * 2; }
		}
	}
}
.container-fluid,
.container-wide {
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 0.5%; }
		.grid-sizer,
		.grid-item {
			width: ( 100% - 1.5% ) / 4;
			&.double-w { width: (( 100% - 0.5% ) / 4) * 2; }
		}
	}
}
@media #{$desktop} {
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 0.8%; }
		.grid-sizer,
		.grid-item {
			width: ( 100% - 2.4% ) / 4;

			&.double-h { height: 500px; }
			&.double-w { width: (( 100% - 0.8% ) / 4) * 2; }
		}
	}
	.container-fluid,
	.container-wide {
		.grid.isotope-masonry-grid {
			.gutter-sizer { width: 0.7%; }
			.grid-sizer,
			.grid-item {
				width: ( 100% - 2.1% ) / 4;
				&.double-w { width: (( 100% - 0.7% ) / 4) * 2; }
			}
		}
	}
}
@media #{$tablet-land} {
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 1%; }
		.grid-sizer,
		.grid-item {
			width: ( 100% - 3% ) / 4;
			height: 197px;

			&.double-h { height: 400px; }
			&.double-w { width: (( 100% - 1% ) / 4) * 2; }
		}
	}
	.container-fluid {
		.grid.isotope-masonry-grid {
			.gutter-sizer { width: 0.9%; }
			.grid-sizer,
			.grid-item {
				width: ( 100% - 2.7% ) / 4;
				&.double-w { width: (( 100% - 0.9% ) / 4) * 2; }
			}
		}
	}
}
@media #{$tablet-port} {
	.container-fluid .grid.isotope-masonry-grid,
	.container-wide .grid.isotope-masonry-grid,
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 0; }
		.grid-sizer,
		.grid-item {
			width: 100%;
			height: 280px;

			&.double-h { height: 280px; }
			&.double-w { width: 100%; }
		}
	}
}
