<!-- Horizontal Navigation -->
<md-nav-bar ng-show="coreEdhubHorizontalState" md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigationLinks">

    <!-- Home Link -->
    <md-nav-item md-nav-href="#!/">
        <b>WatzLit</b>
    </md-nav-item>

    <!-- #!/learning-management
    <md-nav-item ng-if="!ccCurrentUser" md-nav-href="">
        Top Rated
    </md-nav-item>
    -->

    <!-- #!/performance-management
    <md-nav-item ng-if="!ccCurrentUser" md-nav-href="">
        Near Me
    </md-nav-item>
    -->
    <!-- #!/talent-acquisition -->
    <md-nav-item md-nav-href="http://plamigo.me">
        Find Friends
    </md-nav-item>

    <!-- #!/events -->
    <md-nav-item md-nav-href="#!/signup">
        Signup/Login
    </md-nav-item>

    <md-subheader ng-if="ccCurrentUser" layout="column">
        <ng-md-icon icon="perm_identity"></ng-md-icon>
        {{ " Welcome " + ccCurrentUser }}
    </md-subheader>
</md-nav-bar>