<div>
	<h1>Signup State</h1>
	<form name="userForm" ng-submit="signup.userSignup()">
		<div layout="column" layout-padding>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Email</label>
					<input type="email" name="email" ng-model="signup.email" required>
				</md-input-container>
				
				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label>
					<input type="password" ng-model="signup.pw" required>
				</md-input-container>
			</div>
			
			<md-button type="submit" class="md-primary md-raised" flex="33">Signup</md-button>
		</div>
	</form>
</div>