<section class="main" layout="row">
    <div class="sidebar" flex="20">
        <div class="slack-name">
            <h2>Y Combinator Talent Messaging System</h2>
        </div>

        <div class="channel-list">
            <div class="list-head">Channels</div>

            <div class="channel" ng-repeat="channel in cycChannels.channels">
                <!-- ui-sref="channels.messages({channelId: channel.$id})" -->
                <md-button data-ng-click="cycChannels.getMessagesFor(channel.$id)"
                           class="edhub-channel-list-item-btn">
                    # {{ channel.name }}
                </md-button>
            </div>

            <div class="channel create">
                <a ng-click="cycChannels.showCreateChannel(true)">+ create channel</a>
            </div>

            <div class="list-head">Direct Messages</div>

            <div class="channel" ng-repeat="user in cycChannels.users">
                <!-- ui-sref="channels.direct({uid: user.$id})" -->
                <a ng-if="user.$id !== cycChannels.profile.$id">
                    <span class="presence" ng-class="{online: user.online}"></span>
                    {{ user.displayName }}
                </a>
            </div>
        </div>

        <div class="my-info">
            <img class="user-pic" ng-src="{{ cycChannels.getGravatar(cycChannels.profile.uid) }}" alt="avatar"/>
            <div class="user-info">
                <div class="user-name">
                    {{ cycChannels.profile.displayName }}
                </div>

                <div class="options">
                    <a ng-href="/#!/ycombinator/profile">edit profile</a>
                    /
                    <a href="#" ng-click="cycChannels.logout()">logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="message-pane" flex="80">
        <!-- where a nested ui-state would go -->
        <!--<ui-view></ui-view>-->

        <div id="yc-chat-view">
            <!-- ng-if-window -->
            <div ng-if="cycChannels.channelsToDisplay.createChannel">
                <div class="header">
                    <h1>Create a channel</h1>
                </div>

                <form ng-submit="cycChannels.createChannel()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Channel Name"
                               ng-model="cycChannels.newChannel.name">
                    </div>
                    <input type="submit" class="btn btn-default" value="Create Channel">
                </form>
                <button data-ng-click="cycChannels.showCreateChannel(false)">back</button>
            </div>

            <!-- ng-if-window -->
            <div ng-if="cycChannels.channelsToDisplay.messages" layout="column">
                <div class="header">
                    <h1>Channel: {{ cycChannels.channelName }}</h1>
                </div>

                <div class="message-wrap" ng-repeat="message in cycChannels.messages">
                    <img class="user-pic" ng-src="{{ cycChannels.getGravatar(message.uid) }}" alt="avatar"/>
                    <div class="message-info">
                        <div class="user-name">
                            {{ cycChannels.getDisplayName(message.uid) }}
                            <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
                        </div>
                        <div class="message">
                            {{ message.body }}
                        </div>
                    </div>
                </div>

                <!-- class="message-form"  -->
                <form ng-submit="cycChannels.sendMessage()">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="cycChannels.message" placeholder="Type a message...">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">Send</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>