<div class="main">
	<div class="sidebar">
		<div class="slack-name">
			<h2>Julius Chat App</h2>
		</div>
		
		<div class="channel-list">
			<div class="list-head">Channels</div>
			<!-- iterating over channels here: -->
			<div class="channel" ng-repeat="channel in channelsCtrl.channels">
				<a href="">#{{ channel.name }}</a>
			</div>
			<div class="channel create">
				<a href="" ui-sref="channels.create">+ createChannel</a>
			</div>
		</div>
		
		<div class="my-info">
			<img alt="user-img" class="user-pic"
			     ng-src="{{ channelsCtrl.getGravatar(channelsCtrl.profile.$id) }}">
			
			<div class="user-info">
				<div class="user-name">
					{{ channelsCtrl.profile.displayName }}
				</div>
				
				<div class="options">
					<a href="" ui-sref="profile">Edit Profile</a> /
					<a href="" ng-click="channelsCtrl.logout()">Logout</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- IMPORTANT: a "Child View" begins here -->
	<div class="message-pane">
		<h1>Message Pane:</h1>
		<ui-view></ui-view>
	</div>
</div>

