<div style="height: 100%;" layout="column">
	<md-toolbar>
		<h1 class="text-center">EdHub.co App</h1>
	</md-toolbar>
	
	<div class="j-container" layout="row" flex>
		<!-- Side Navigation -->
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
			<md-list>
				<md-list-item ng-repeat="user in contacts.users">
					<md-button ng-click="contacts.selectUser(user)">
						<md-icon md-svg-src="images/svg/{{user.avatar}}.svg" class="avatar"></md-icon>
						{{ user.displayName }}
					</md-button>
				</md-list-item>
			</md-list>
		</md-sidenav>
		<!-- Main Content Area -->
		<md-content id="content-admin" flex>
			<md-icon ng-if="contacts.selected.avatar" md-svg-src="images/svg/{{contacts.selected.avatar}}.svg"
			         class="avatar"></md-icon>
			<h2>{{ contacts.selected.displayName }}</h2>
			<p>{{ contacts.selected.content }}</p>
		</md-content>
	</div>

</div>